@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Gowun+Batang&family=MonteCarlo&display=swap');
.adress{
    font-family: 'Arimo', sans-serif;
font-family: 'Gowun Batang', serif;
color: #5f395f
;

}