@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=MonteCarlo&display=swap');
.name{
    font-family: 'Arimo', sans-serif;
font-family: 'MonteCarlo', cursive;
color: #d69296

;
}